body{
    max-width: 1400px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.layout-demo{
     width: 50%;
     text-align: center;
     margin:  0 auto;
     
}
.layout-demo > img{
     width: 100%;
     padding-top: 50px; 
}

/*==============Grid layout Styles================ */
.box{
    background-color: orangered;
    padding: 20px ;
    text-align: center;
    font-weight: bold;
    font-family: arial black;
}

.layout-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 60px);
    gap: 10px;
    margin-bottom: 5rem;
}

#header{
    /* grid-column: 1 / 6; */
    grid-column: span 5;
   /*  grid-row: 1 / 3; */
   grid-row: span 2;
    
}

#nav{
    grid-column: 1;
    grid-row: 3 / 9;
}

#article{
    grid-column: 2 / 5;
    grid-row: 3 / 8;
}
#ads{
    grid-column: 5 / -1;
    grid-row: 3 / 8;
}

#footer{
    grid-column: 2 / 6;
    grid-row: 8 / -1;
}

/* ======================Media Quires =====================
============================================================== */



/* --------------for Medium Devices---------------- */
@media screen and (min-width:577px) and (max-width:991px) {
    .box{
        background-color: indigo;
        color: #fff;
        
    }
    #nav{
        grid-column: 1;
        grid-row: 3 / 8;
    }
    #ads{
        grid-column: 5 / -1;
        grid-row: 3 / 9;
    }
    
    #footer{
        grid-column: 1 / 5;
        grid-row: 8 / -1;
    }

    
}






/* --------------for Small Devices---------------- */
@media screen and (max-width:576px) {
 
}
